DATABASE_URL="postgresql://postgres:maleficent%40@localhost:5432/ashbazar"
MONGO_URL="mongodb+srv://Admin_panel:JMvfMvPIQsENq629@cluster0.m7gei3x.mongodb.net/?appName=Cluster0"
MONGO_DB_NAME="test"
MIGRATION_TRUNCATE="false"
JWT_SECRET="replace_with_long_random_secret"
